<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"

>

    <!-- 配置包扫描器，扫描所有带@Service注解的类 -->
    <context:component-scan base-package="com.taotao.service"/>


    <!--发布dubbo服务-->
    <dubbo:application name="taotao-manager"/>
    <dubbo:registry protocol="zookeeper" address="39.108.113.143:2181"/>
    <dubbo:protocol name="dubbo" port="20880"/>
    <!-- 声明需要暴露的服务接口 -->
    <!--<dubbo:service interface="com.taotao.service.ItemService" ref="itemServiceImpl" />-->
    <!--timeout 加入接口超时时间 retries="0" 错误重试次数为0-->
    <dubbo:service interface="com.taotao.service.ItemService" ref="itemServiceImpl" timeout="300000"/>
    <dubbo:service interface="com.taotao.service.ItemCarService" ref="itemCarServiceImpl" timeout="300000" />
    <dubbo:service interface="com.taotao.service.ContentCategoryService" ref="contentCategoryServiceImpl" timeout="300000" />
    <dubbo:service interface="com.taotao.service.ContentService" ref="contentServiceImpl" timeout="300000" />

</beans>